<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="../static/home.css" rel="stylesheet" />
        <title>Home</title>
    </head>
<body>
    <div class="v1_3">
    <div class="home">
    </div>
        <span class="sigh_up link-ease-in-out"><a href = "#">Sign up</a></span>
        <span class="log_in link-ease-in-out"><a href="#" >Log in </a></span>
        <span class="name">Spaceblock</span>
    </div>
</body>
</html>