* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #020300;
  
}

.v1_3 {
  width: auto;
  height: 1000px;
  background: #020300;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.home {
  width: 100%;
  height: 100%;
  background: url("../static/home.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 0px;
  overflow: hidden;
}

.sigh_up {
  width: 398px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 500px;
  left: 620px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}

.log_in {
  width: 382px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 500px;
  left: 320px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}

.name {
  width: 100%;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 210px;
  left: 138px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 170px;
  opacity: 1;
  text-align: left;
}

.link-ease-in-out a {
  display: inline-block;
  color: rgba(254,254,254,1); 
  line-height: 1;
  text-decoration: none; /* Убираем подчеркивание */
  cursor: pointer;
}

.link-ease-in-out a:after {
  background-color: rgba(254,254,254,1); /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 2px; /* Высота линии */
  width: 0%;
  -webkit-transition: width .5s ease-in-out;
  -moz--transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}

.link-ease-in-out a:hover:after,
.link-ease-in-out a:focus:after {
  width: 100%;
}